# ===== MongoDB =====
MONGO_USER=admin
MONGO_PASSWORD=change-this-in-production
MONGO_DB=portfolio

# ===== API =====
API_PORT=5001
JWT_SECRET=change-this-in-production
BASE_API_URL=https://portfolio-api.jalvesnicacio.com

# ===== Client / Next =====
NEXT_PUBLIC_API_URL=https://portfolio-api.jalvesnicacio.com
API_INTERNAL_URL=http://api:5001

# ===== Dashboard =====
VITE_API_URL=https://portfolio-api.jalvesnicacio.com