/* #root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.pf-header {
  height: 60px;
  border: 1px solid #000000;
} */

nav {
  font-size: 14px;
}

.hero-description {
  margin-top: -15px;
}

.portfolio-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../src/assets/img/portfolio-title-bg.png");
  height: 221px;
}

.portfolio-title {
  border: solid 6px #000000;
  padding: 10px;
  letter-spacing: 0.6em;
}
