.reddit-sans-condensed-bold {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.reddit-sans-condensed {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.trebuchet-bold {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: #909090;
}
